<!doctype html>
<html>
	<head>
		<style>
			
		</style>
	</head>
	<body>
		
		<center>
		<header> <h1>Saitheja Bikumalla </h1> </header>
		
		<header> <h1>1001867581 </h1> </header>
		
		 <br><br>
		 <img style="height: 550px"  src="static/s.jpg" ><br><br>

		<div class='container'>
			<a href="/all">click here to see all the people</a><br><br>
			<a href="/search">Search for person</a><br><br>
			<a href="/searchstate">Search for persons based on state</a><br><br>
			<a href="/searchkey">Search for persons based on key</a><br><br>
			<a href="/searchroom">Search for persons based on Room Number</a><br><br>
		</div>
		</center>
	
</html>